* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.none {
  display: none;
}

.block {
  display: block;
}

.welcomeDiv {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.photoDiv {
  display: flex;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

body {
  background: #dff6ff;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('./fern-1250903_1280.jpg');
  background-size: cover;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
  padding: 5px;
}

#user-interface {
  background: rgba(255, 255, 255, 0.9);
  width: 90%;
  max-width: 600px;
  margin: 10px auto 0;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 5px 9px rgba(32, 32, 32, 0.165);
}

.welcome-text {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #4a4a4a;
}

.user-name {
  color: #4a4a4a;
  font-weight: bold;
  margin: 20px;
}

input#player-name-id {
  border: 0.5px solid #000000;
  border-radius: 20px;
  padding: 9px;
  background: none;
  margin: 0;
}

#start-art-button {
  background: #001230;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 10px;
  margin: 0 0 10px 15px;
  border-radius: 20px;
}

#start-art-button:hover {
  background: rgb(0, 85, 160);
  transform: scale(1.03);
}

.show-art {
  background: #001230;
  color: #fff;
  font-weight: 500;
  width: 120px;
  border: none;
  padding: 10px;
  margin: 0 0 10px 15px;
  border-radius: 20px;
}

.show-art:hover {
  background: rgb(190, 56, 156);
  transform: scale(1.03);
}

.photoDiv {
  display: flex;
  width: 90%;
  height: 100%;
}

.formElem {
  padding: 10px;
}

.input {
  border-radius: 15px;
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 9px;
  background: none;
  margin: 0;
  color: white;
}

.photoUl {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-height: 80vh;
  margin-top: 75px;
}

@media (max-width: 767px) {
  .photoUl {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .photoUl {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  box-sizing: border-box;
  padding: 10px;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/*========== simple loader ========================*/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*====================================*/
